@model Citus.Education.WebApp.Sample.Models.ViewModels.CvCompetenceEditViewModel

@{
    ViewBag.Title = "DEMO index";
}
<br /><br /><br /><br />
<h1>@DateTime.Now.ToLongTimeString()</h1>
<br /><br /><br /><br />
@Ajax.ActionLink(
   "Učitaj detalje...",
   "Details",
   new { id = 2 },
   new AjaxOptions{
       HttpMethod = "GET",
       UpdateTargetId = "divDetalji",
       InsertionMode = InsertionMode.Replace,
       LoadingElementId = "divLoader"
   }
)
<div id="divLoader" style="display:none">
<img src="~/Content/loader2.gif" />
</div>
<div id="divDetalji">ovdje je div u kojem će se nešto učitati</div>




