<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPublicService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:8989/Movies/Public" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPublicService" contract="IPublicService"
                name="BasicHttpBinding_IPublicService" />
        </client>
    </system.serviceModel>
</configuration>