@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CITUS Web Sample</h1>
    <p class="lead">Start with default VS ASP.NET MVC project</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Solution architecture</h2>
        <p>
            <ul>
                <li>Accessories solutin folder - scripts, generators</li>
                <li>Tests solution folder</li>
                <li>Business</li>
                <li>Common</li>
                <li>DataAccess</li>
                <li>Models</li>
                <li>Web</li>
            </ul>

        </p>

    </div>
    <div class="col-md-4">
        <h2>Added thru NuGet pkm</h2>
        <p>
            <ul>
                <li>Entity Framework</li>
                <li>Elmah</li>
                <li>T4MVC</li>
                <li>datatables.js</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Additional</h2>
        <p>
            <ul>
                <li>multilanguage implementation with resources</li>
                <li>datatables models</li>
                <li>lync dynamic exstension helper</li>
                <li>CITUS TranslateTo exstension helper</li>
            </ul>
        </p>
    </div>
</div>

<a id="btnPokreni">Pokreni</a>

<div id="divDetalji">ovdje je div u kojem će se nešto učitati</div>
@section scripts {
    <script language="JavaScript">
        $(function () {
            $('#btnPokreni').click(function () {
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: "http://localhost:2167/api/cv",
                    //data: {id : 2},
                    contentType: "application/json;" +
                        "charset=utf-8",
                    success: function (data) {
                        $("#divDetalji").html("Odgovor: " + data.length);
                        //$("#divDetalji").html("Odgovor: " + " " + data.Id + " " +  data.Name + " " + data.Description);
                    },
                    failure: function (data) {
                        alert(msg);
                    }
                });
            });
        });
    </script>
}


