<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPublic" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1985/Public.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPublic" contract="IPublic"
                name="BasicHttpBinding_IPublic" />
        </client>
    </system.serviceModel>
</configuration>